* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
body {
    background: rgb(230, 230, 230);
    margin:auto;
}
.container {
    filter: drop-shadow(1px 1px 4px #7c7c7c);
    width: 70%;
    margin:auto;
    margin-top: 70px;
    margin-bottom: 70px;
    background: rgb(124, 255, 157);
    display: flex;
    justify-content: center;
}
.left-side {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
}
.right-side {
    display: flex;
    flex: 4;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.photo {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo h1 {
    margin-left: 10px;
    font-size: 18px;
    visibility: hidden;
}
.contact-me {
    background-color: rgb(216, 216, 216);
}
.contact-me-row {
    display: flex;
}
.text-box {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 500;
}
.left-side h2, .right-side h2 {
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    padding-left: 30px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: rgb(100, 100, 100);
    text-transform: uppercase;
    border-right: 15px solid rgb(100, 100, 100);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.right-side h2 {
    margin-left: 20px;
    font-size: 26px;
}
.right-side h4 {
    margin-top: 25px;
    font-size: 24px;
}
.fa {
    margin-left: 30px;
    margin-top: 15px;
    width: 15px;
}
.left-side ul {
    padding-left: 10px;
    list-style-type: none;
}
.right-side ul {
    margin-left: 30px;
    font-size: 14px;
}
.right-side li {
    text-align:justify;
    margin-right: 40px; 
}
.education-year {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}
.education-title {
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;
}
.name {
    background: rgb(255, 255, 255);
    margin-left: 50px;
    margin-top: 50px;
    font-size: 36px;
    line-height: 1.1;
}
.name h6 {

    font-size: 18px;
    border: 2px;
    border-right-width: 20px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
h6 {
    font-size: 12px;
}
.about-me p {
    margin-left: 30px;
    font-size: 14px;
}
.work-exp1, .work-exp2, .work-exp3 {
    margin-left: 30px;
}
.languages li {
    font-size: 22px;
    margin-left: 15px;
}
.skills ul {
    list-style-type: disc;
    margin-left: 15px;
}
.skills li {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
}
.languages h6 {
    margin-left: 15px;
    font-weight: 500;
}
.education li {
    margin-left: 20px;
}
.last-li {
    margin-bottom: 50px;
}
.language {
    display: flex;
    font-size: 10px;
    width: 65%;
    justify-content: space-between;
}
.languages li {
    padding-top: 3px;
}
.fa-circle, .fa-circle-o {
    margin-left: 1px;
    align-items: center;
}
.fa-circle-first {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .about-me h2 {
        margin-top: -40px;
    }
    .right-side h2 {
        font-size: 26px;
        padding-left: 30px;
        margin-left: 0;
    }
    .photo {
        margin-bottom: 20px;
    }
    .name {
        visibility: hidden;
        margin-left: 0;
        margin-top: 0;
        font-size: 1px;
    }
    .name h1 {
        visibility: hidden;
        margin-left: 0;
        margin-top: 0;
        margin-right: 30px;
        font-size: 1px;
    }
    .name h6 {
        visibility: hidden;
        margin-left: 0;
        margin-top: 0;
        margin-right: 30px;
        font-size: 1px;
        overflow: hidden;
    }
    .photo h1 {
        margin-left: 15px;
        font-size: 18px;
        visibility: visible;
    }
    .text-box {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
        font-weight: 400;
    }
    .right-side ul {
        font-size: 12px;
        margin-left: 10px;
    }
    .right-side li {
        text-align:justify;
        margin-left: 0; 
    }
    .right-side h4 {
        line-height: 1.1;
    }
    .language li {
        padding-top: 6px;
        font-size: 18px;
        font-weight: 500;
    }
    .language {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 80%;
    }
    .photo h1 {
        margin-left: 10px;
        font-size: 28px;
    }
    .name h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 1580px) {
    .name h1 {
        font-size: 48px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 1290px) {
    .name h1 {
        font-size: 42px;
    }
}

@keyframes slide-down {
    from {top: 0px;}
    to {top: 200px;}
}